<html>
<body>
<h1><center>Member List</center></h1>
<div class="container">

<table class="table table-striped">
  <tr>
     <th>ID </th>
     <th>Salutation</th>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Email</th>
     <th> Update </th>

  </tr>
  <tr>
  {% for member in members%}
    <td> {{ member.id }} </td>
    <td> {{ member.salutation }}</td>
    <td> {{ member.first_name }}</td>
    <td> {{ member.last_name }}</td>
    <td> {{ member.email }}</td>
    <td> <a class="btn btn-info" href ="{%url 'update_member' member.id %}" >Update  </a> <td>

    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'add_member' %}"> New Member </a>
{#we can use the statement "url" and write the address "name" as specified in the urls.py#}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</div>
</body>
</html>
